.app-font-style {
  font-family: "Poppins", sans-serif !important;
}

.app-bar-avatar {
  background: linear-gradient(135deg, #4285f4, #6a1b9a) !important;
}

.font-size-one {
  font-size: 22px !important;
}

.font-size-two {
  font-size: 15px !important;
}
.font-size-three {
  font-size: 13px !important;
}

.font-weight-one {
  font-weight: 600;
}

.font-weight-two {
  font-weight: 500;
}

.grey-font {
  color: rgb(68, 67, 67) !important;
}

.menu-btn {
  background-color: #eff6ff !important;
  color: #2563eb !important;
}

.text-field-one {
  max-width: 250px !important;
  background-color: #f3f4f6 !important;
}

.content-div {
  background-color: #f3f4f6 !important;
  height: 100%;
  width: 100%;
}

.custom-label .v-field-label {
  font-size: 13px; /* change as needed */
}

.disable-menu-name {
  display: none !important;
}

.custom-menu-icon {
  position: relative;
  right: 7px;
  margin: 0 !important;
}

.display-flex-coloumn {
  display: flex;
  flex-direction: column;
}

.card-property {
  border-radius: 10px !important;
  border: 1px solid rgb(245, 242, 242) !important;
}
.card-property:hover {
  animation: pop 0.4s ease forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* pops up */
  }
  100% {
    transform: scale(1); /* returns down */
  }
}

/* .menu-btn {
  background: linear-gradient(
    to right,
    #2563eb 0 40px,
    #eff6ff 40px 100%
  ) !important;
  color: #2563eb !important;
} */
